<h1><%= t( 'static_pages.about.about_page_header' ) %></h1>
<p><%= t( '.about_page_desc' ) %></p>
<p><%= t( '.about_page_content' ) %></p>
<ul>
  <li><%= link_to t('.about_contact') %></li>
  <li><%= link_to t('.about_gallery') %></li>
  <li><%= link_to t('.about_signup') %></li>
</ul>
