<h1><%= t('.about_page_header') %></h1>
<p><%= t('.about_page_description') %></p>
<p>Now for some details typical of an 'About Us' page</p>
<ul>
  <li><%= link_to t('.about_contact'), "#" %></li>
  <li><%= link_to t('.about_gallery'), "#" %></li>
  <li><%= link_to t('.about_signup'), "#" %></li>
</ul>
