<h1 class="title"><%= t('.blog_title') %></h1>
<p class="sub-title"><%= t('.blog_subtitle') %></p>

<figure>
  <%= image_tag("hipsters.jpeg", width: "800px") %>
  <figcaption><%= t('.blog_figcaption') %></figcaption>
</figure>


<p class="credits"><%= t('.blog_credits') %><span class="float-right"><%= t('.blog_date') %></span></p>
<article>
  <p><%= t('.blog_paragraph_1') %></p>

  <p><%= t('.blog_paragraph_2') %></p>

  <p><%= t('.blog_paragraph_3') %></p>

  <h3><%= t('.blog_h3') %></h3>

  <p><%= t('.blog_paragraph_4') %></p>

  <p><%= t('.blog_paragraph_5') %></p>

  <p><%= t('.blog_paragraph_6') %></p>
</article>