<h1 class="title"><%= t('static_pages.blog.blog_title') %></h1>
<p class="sub-title"><%= t('.blog_subtitle') %></p>

<figure>
  <%= image_tag("hipsters.jpeg", width: "800px") %>
  <figcaption><%= t('static_pages.blog.blog_caption') %></figcaption>
</figure>


<p class="credits"><%= t('static_pages.blog.blog_author') %><span class="float-right"><%= t('.blog_date') %></span></p>
<article>
  <p><%= t('static_pages.blog.blog_p1') %></p>

  <p><%= t('static_pages.blog.blog_p2') %></p>

  <p><%= t('static_pages.blog.blog_p3') %></p>

  <h3><%= t('static_pages.blog.blog_h3') %></h3>

  <p><%= t('static_pages.blog.blog_p4') %></p>

  <p><%= t('static_pages.blog.blog_p5') %></p>

  <p><%= t('static_pages.blog.blog_p6') %></p>
</article>