<h1 class="title"><%= t('.blog_page_title')%></h1>
<p class="sub-title"><%= t('.blog_page_subtitle')%></p>

<figure>
  <%= image_tag("hipsters.jpeg", width: "800px") %>
  <figcaption><%= t('.blog_page_figcaption')%></figcaption>
</figure>


<p class="credits"><%= t('.blog_page_author')%><span class="float-right"><%= t('.blog_page_date')%></span></p>
<article>
  <p><%= t('.blog_para01')%></p>

  <p><%= t('.blog_para02')%></p>

  <p><%= t('.blog_para03')%></p>

  <h3><%= t('.blog_para04')%></h3>

  <p><%= t('.blog_para05')%></p>

  <p><%= t('.blog_para06')%></p>

  <p><%= t('.blog_para07')%></p>
</article>