<h1 class="title"><%= t( '.blog_title' ) %></h1>
<p class="sub-title"><%= t( '.blog_sub_title' ) %></p>

<figure>
  <%= image_tag("hipsters.jpeg", width: "800px") %>
  <figcaption><%= t( '.blog_figcaption' ) %></figcaption>
</figure>


<p class="credits"><%= t( '.blog_author' ) %><span class="float-right"><%= t( '.blog_date' ) %></span></p>
<article>
  <p><%= t( 'static_pages.blog.blog_content1' ) %></p>

  <p><%= t( 'static_pages.blog.blog_content2' ) %></p>

  <p><%= t( 'static_pages.blog.blog_content3' ) %></p>

  <h3><%= t( 'static_pages.blog.blog_header' ) %></h3>

  <p><%= t( 'static_pages.blog.blog_content4' ) %></p>

  <p><%= t( 'static_pages.blog.blog_content5' ) %></p>

  <p><%= t( 'static_pages.blog.blog_content6' ) %></p>
</article>