<h1 class="title"><%= t('.blog_diet') %></h1>
<p class="sub-title"><%= t('.blog_battle') %></p>

<figure>
  <%= image_tag("hipsters.jpeg", width: "800px") %>
  <figcaption><%= t('.blog_local') %></figcaption>
</figure>


<p class="credits">By Amir Khan<span class="float-right">Oct. 20, 2014 | 12:04 p.m. EDT</span></p>
<article>
  <p><%= t('.blog_group') %></p>

  <p><%= t('.blog_love') %></p>

  <p><%= t('.blog_zachary') %></p>

  <h3><%= t('.blog_habits') %></h3>

  <p><%= t('.blog_conscious') %></p>

  <p><%= t('.blog_plant') %></p>

  <p><%= t('.blog_active') %></p>
</article>