<h1 class="title"><%= t( 'static_pages.blog.blog_header1' ) %></h1>
<p class="sub-title"><%= t( 'static_pages.blog.blog_header2' ) %></p>

<figure>
  <%= image_tag("hipsters.jpeg", width: "800px") %>
  <figcaption><%= t( 'static_pages.blog.blog_fig' ) %></figcaption>
</figure>


<p class="credits"><%= t( 'static_pages.blog.blog_credits' ) %><span class="float-right"><%= t( 'static_pages.blog.blog_time' ) %></span></p>
<article>
  <p><%= t( 'static_pages.blog.blog_content1' ) %></p>

  <p><%= t( 'static_pages.blog.blog_content2' ) %></p>

  <p><%= t( 'static_pages.blog.blog_content3' ) %></p>

  <h3><%= t( 'static_pages.blog.blog_header3' ) %></h3>

  <p><%= t( 'static_pages.blog.blog_content4' ) %></p>

  <p><%= t( 'static_pages.blog.blog_content5' ) %></p>

  <p><%= t( 'static_pages.blog.blog_content6' ) %></p>
</article>