<h1 class="title"><%= t ('static_pages.blog.blog_header') %></h1>
<p class="sub-title"><%= t ('static_pages.blog.blog_header_2') %></p>

<figure>
  <%= image_tag("hipsters.jpeg", width: "800px") %>
  <figcaption><%= t ('static_pages.blog.blog_image_caption') %></figcaption>
</figure>


<p class="credits"><%= t ('static_pages.blog.blog_author') %><span class="float-right"><%= t ('static_pages.blog.blog_date_&_time') %></span></p>
<article><%= t ('static_pages.blog.blog_article_html') %></article>