<h1><%= t( '.post_header' ) %></h1>
<%= form_for @post do |f| %>
 
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label t('.new_title') %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label t('.new_img') %>
    <%= f.text_field :img_url%>
  </p>

  <p>
    <%= f.label t('.new_author') %>
    <%= f.text_field :author %>
  </p>

  <p>
    <%= f.label t('.new_body') %>
    <%= f.text_area :body %>
  </p>
 
  <p>
    <%= f.submit t('.new_create') %>
  </p>
 
<% end %>

<%= link_to t('.back_click'), posts_path %>
